doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
        script(src="https://kit.fontawesome.com/f3cf84b30a.js", crossorigin="anonymous")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")