include ../mixins/message

doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
        meta(name="viewport", content="width=device-width", initial-scale=1)
        script(src="https://kit.fontawesome.com/f3cf84b30a.js", crossorigin="anonymous")
    body
        if messages.error
            +message ({
                type: "error",
                text: messages.error
            })
        else if messages.info
            +message ({
                type: "info",
                text: messages.info
            })
        else if messages.success
            +message ({
                type: "success",
                text: messages.success
            })

        include ../partials/header
        main#jsMain
            block content
        include ../partials/footer
        .loading#jsLoading
            .loader
            .shadow
        script(src="/static/main.js")