.header {
    width: 100%;
    max-width: 1016px;
    margin: 0 auto;
    padding: 50px 0 40px;
    position: relative;
    z-index: 8;
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-end;
        }
        .header__column {
            @include mobile {
                padding-right: 10px;
            }
            .logo {
                position: fixed;
                top: 40px;
                color: $main;
                @include mobile {
                    left: 10px;
                    top: 50px;
                }
                &:hover {
                    color: $black;
                    transition: .3s;
                }
            }
            .search {
                input {
                    width: 300px;
                    margin-left: 90px;
                    @include mobile {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            ul {
                display: flex;
                align-items: baseline;
                height: 40px;
                li {
                    margin-left: 5px;
                    a {
                        padding: 2px 5px;
                        vertical-align: middle;
                        &.round {
                            @include mobile {
                                width: 35px;
                                height: 35px;
                            }
                            &:hover {
                                border-color: yellow;
                                transition: .3;
                            }
                        }
                    }
                    a:hover {
                        background-color: $yellow;
                        transition: .25s;
                    }
                }
            }
            @include mobile {
                &:last-child {
                    margin-top: 10px;
                }
            }
        }
    }
}