.videoPlayer {
    position: relative;
    width: 100%;
    max-width: 850px;
    &:hover {
        .videoPlayer__controls {
        opacity: 1;
      }
    }
    video {
        width: 100%;
        max-width: 100%;
    }
    .videoPlayer__progress {
        flex: 10;
        position: absolute;
        bottom: 41px;
        z-index: 9;
        display: flex;
        flex-basis: 100%;
        width: 100%;
        height: 5px;
        transition: height 0.3s;
        background: rgba(0,0,0,0.5);
        cursor: ew-resize;
        .progress__filled {
            width: 50%;
            background: #ffc600;
            flex: 0;
            flex-basis: 0;
        }
    }
    .videoPlayer__controls {
        //opacity: 0;
        transition: opacity 0.4s linear;
        color: white;
        position: absolute;
        z-index: 9;
        bottom: 2px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
        .videoPlayer__column:first-child {
        display: flex;
        width:35px;
        align-items: center;
        #jsVolumeBtn {
            margin-right: 10px;
            }
        }
        .videoPlayer__volume {
            position: absolute;
            padding: 0;
            opacity: 1;
            top: -60px;
            left: 17px;
            transform: rotate(-90deg);
            z-index: 10;
            width: 80px;
        
            input {
                background-color: rgba(0, 0, 0, 0.5);
                &::-webkit-slider-runnable-track {
                background-color: $grey;
                height: 5px;
                }
                &::-webkit-slider-thumb {
                all: unset;
                background-color: $red;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                position: relative;
                top: -5px;
                }
            }
        }
        .videoPlayer__column:last-child {
            justify-self: end;
        }
        .videoPlayer__column:nth-child(2) {
            flex:1;
            justify-self: center;
            span {
                display: inline-flex;
                vertical-align: middle;
            }
            span:nth-child(2) {
                margin-left:10px;
            }
        }
        i {
        font-size: 18px;
            cursor: pointer;
        }
    }
}