.videoPlayer {
    position: relative;
    width: 100%;
    z-index: 7;
    &:hover {
        .videoPlayer__controls {
        opacity: 1;
      }
    }
    video {
        width: 100%;
        max-width: 100%;
    }
    .videoPlayer__progress {
        flex: 10;
        position: absolute;
        bottom: 46px;
        z-index: 9;
        display: flex;
        flex-basis: 100%;
        width: 100%;
        height: 5px;
        transition: height 0.3s;
        // background: rgba(0,0,0,0.5);
        cursor: ew-resize;
        .progress__filled {
            width: 50%;
            background: yellow;
            flex: 0;
            flex-basis: 0;
        }
    }
    .videoPlayer__controls {
        opacity: 0;
        transition: opacity 0.4s linear;
        color: white;
        position: absolute;
        z-index: 9;
        bottom: 5px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 7px 20px 10px;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
        .videoPlayer__column {
            span {
                vertical-align: middle;
                display: inline-block;
                height: 17px;
            }
        }
        .videoPlayer__column:first-child {
            display: flex;
            width:35px;
            height:21px;
            align-items: center;
        }
        .volume__btn {
            width: 20px;
        }
        @keyframes volumeAni {
            0% {
                width: 0;
            }
            20% {
                width: 100px;
            }
            80% {
                width: 100px;
            }
            100% {
                width: 0;
            }
        }
        .videoPlayer__volume {
            display: none;
            position: relative;
            padding: 0;
            margin-left: 10px;
            opacity: 1;
            z-index: 10;
            opacity: 0;
            &.open {
                opacity: 1;
                display: block;
            }
            animation: volumeAni 3s ease-out;
        }
        .videoPlayer__column:last-child {
            justify-self: end;
        }
        .videoPlayer__column:nth-child(2) {
            flex:1;
            justify-self: center;
            span {
                display: inline-flex;
                vertical-align: middle;
            }
            span:nth-child(2) {
                margin-left:10px;
            }
        }
        i {
            font-size: 18px;
            cursor: pointer;
        }
    }
}