html, body {
    height: 100%;
}

.round {
    position: relative;
    display:inline-block;
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width:100%;
        height:auto;
    }
}
