extends layouts/main

block content
    .form-container
        .form__title.tita.st 비밀번호 변경
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="최근 비밀번호")
            input(type="password", name="newPassword", placeholder="새 비밀번호")
            input(type="password", name="newPassword1", placeholder="새 비밀번호 확인")
            input(type="submit", value="비밀번호 변경")