.search__header {
    margin-top: 20px;
    @include mobile {
        margin-left: 10px;
    }
    span {
        background-color: $light-gray;
        color: white;
        padding: 0 8px;
    }
}

.search__videos {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
    .videoBlock {
        position: relative;
        overflow: hidden;
        width: calc(100% margin);
        height: auto;
        margin: 18px 10px;
        @include mobile {
            margin: 18px 0;
        }
        a {
            display: block;
            video {
                width: 100%;
                overflow: hidden;
            }
            .videoBlock__title {
                display: inline-block;
                margin: 16px 0 3px;
                padding: 4px 5px;
                line-height: 1;
                @include mobile {
                    padding: 4px 10px;
                }
            }
            .views__wrap {
                padding: 0 5px;
                @include mobile {
                    padding: 0 10px;
                }
                .videoBlock__views {
                    margin-left: 5px;
                }
            }
            &:hover .videoBlock__title {
                background-color: yellow;
                transition: .3s;
            }
            &:hover .views__wrap i,
            &:hover .views__wrap span {
                color: $main;
                transition: .3s;
            }
        }
    }
}