.form-container__link--delete {
    width: 100%;
    display: block;
    max-width: 300px;
    margin: 10px auto 0;
    padding: 8px 10px;
    background-color: $light-gray;
    font-size: 14px;
    text-align: center;
    color: white;
}